@mixin elr-modal-alert() {
    @include elr-modals;
    width: to-rems(300px);
    display: flex;
    padding: to-rems(10px) to-rems(10px) 0;

    .elr-modal-alert-heading {
        font-size: to-rems(28px);
        font-weight: $bold;

        .fa {
            font-size: 140%;
            color: $success-color;
            position: relative;
            top: to-rems(3px);
            left: -10px;
        }
    }

    p {
        font-size: to-rems(14px);
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .elr-header,
    .elr-body,
    .elr-footer {
        padding: to-rems(10px);
    }

    .elr-footer {
        padding-left: 0;
        padding-right: 0;

        &.single-action {
            align-items: center;
            flex-direction: column;
        }
    }

    .elr-button {
        margin: 0 to-rems(5px) 0 to-rems(10px);
        max-width: to-rems(150px);

        &:last-of-type {
            margin-left: to-rems(5px);
            margin-right: to-rems(10px);
        }
    }
}
